@model IEnumerable<Doctor>

@{
    ViewData[ "Title" ] = "Viewing All Doctors";
}

<h2>@ViewData[ "Title" ]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor( model => model.FirstName )
                @Html.DisplayNameFor( model => model.LastName )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.DegreeAbbreviation )
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model )
        {
            <tr>
                <td>
                    @Html.DisplayFor( modelItem => item.FirstName )
                    @Html.DisplayFor( modelItem => item.LastName )
                </td>
                <td>
                    @Html.DisplayFor( modelItem => item.DegreeAbbreviation )
                </td>
                <td>
                    <a asp-action="Edit" asp-route-userName="@item.UserName">Edit</a> |
                    <a asp-action="Details" asp-route-userName="@item.UserName">Details</a> |
                    <a asp-action="Delete" asp-route-userName="@item.UserName">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
